<div class="left-aside desktop-view">
    <div class="aside-branding">
        <a href="index-2.html" class="iconic-logo"><img src="assets/images/logo-iconic.png" alt="Matmix Logo">
        </a>
        <a href="index-2.html" class="large-logo"><img src="assets/images/logo-large.png" alt="Matmix Logo">
        </a>
        <span class="aside-pin waves-effect"><i class="fa fa-thumb-tack"></i></span>
        <span class="aside-close waves-effect"><i class="fa fa-times"></i></span>
    </div>
    <div class="left-navigation">
        <ul class="list-accordion">
            <li><a [routerLink]="['dashboard']" class="waves-effect"><span class="nav-icon"><i class="fa fa-home"></i></span><span
                        class="nav-label">Dashboard</span></a>
            </li>
            <li><a [routerLink]="['products']" class="waves-effect"><span class="nav-icon"><i class="fa fa-align-justify"></i></span><span
                class="nav-label">Products</span></a>
            </li>
            <li><a [routerLink]="['categories']" class="waves-effect"><span class="nav-icon"><i class="fa fa-align-justify"></i></span><span
                        class="nav-label">Product Categories</span></a>
            </li>
        </ul>
    </div>
</div>