<div class="row">
    <div class="col-md-12">
        <div class="box-widget widget-module">
            <div class="widget-head clearfix">
                <span class="h-icon"><i class="fa fa-user"></i></span>
                <h4>Product Details</h4>
            </div>
            <div class="widget-container">
                <div class=" widget-block">
                    <div class="page-header">
                        <h2>Update Product Details</h2>
                        <!-- <p>
                             Quisque at mauris semper sapien varius scelerisque sed quis risus. Nulla rhoncus vel libero at aliquet. Duis id nibh non quam varius accumsan ut ac arcu.
                        </p> -->
                    </div>
                    <form *ngIf="edit_product_form" [formGroup]="edit_product_form" (ngSubmit)="onSubmit()">
                        <div class="form-group" style="padding:10px 0;">
                            <div class=" col-md-6">
                                <label>Product Name <span style="color:red;">*</span></label>
                                <input type="text" class="form-control" formControlName="product_name" placeholder="Product Name" required autofocus>
                                <div *ngIf="submitted && f.product_name.errors" class="invalid-feedback">
                                    <div class="error" *ngIf="f.product_name.errors.required">Product Name is required</div>
                                </div>
                            </div>
                            <div class=" col-md-6">
                                <label>Select Category</label>
                                <select class="form-control" formControlName="category_id" required>
                                    <option>Select Category</option>
                                    <option *ngFor="let order of categories_arr;" [value]="order.id">
                                        {{order.category_name}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.category_id.errors" class="invalid-feedback">
                                    <div class="error" *ngIf="f.category_id.errors.required">Category is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding:10px 0;">
                            <div class=" col-md-6">
                                <label>Price <span style="color:red;">*</span></label>
                                <input type="text" class="form-control" formControlName="price" placeholder="Price" required autofocus>
                                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                    <div class="error" *ngIf="f.price.errors.required">Price is required</div>
                                </div>
                            </div>
                            <div class=" col-md-6">
                                <label>Product description</label>
                                <textarea style="height:40px;" type="text" class="form-control" formControlName="product_description" placeholder="Product description" autofocus></textarea>
                            </div>
                        </div>
                        <div class="form-group" style="padding:10px 0;">
                            <div class="col-md-12">
                                <button class="btn btn-primary" type="submit">Update Product</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    </div>
</div>