<div class="row">
    <div class="col-md-12">
        <div class="box-widget widget-module">
            <div class="widget-head clearfix">
                <span class="h-icon"><i class="fa fa-user"></i></span>
                <h4>Manage Password</h4>
            </div>
            <div class="widget-container">
                <div class=" widget-block">
                    <div class="page-header">
                        <h2>Change Password</h2>
                        <!-- <p>
                             Quisque at mauris semper sapien varius scelerisque sed quis risus. Nulla rhoncus vel libero at aliquet. Duis id nibh non quam varius accumsan ut ac arcu.
                        </p> -->
                    </div>
                    <form [formGroup]="change_password_form" (ngSubmit)="onSubmit()">
                        <div class="form-group" style="padding:10px 0;">
                            <div class=" col-md-4">
                                <label>Old Password <span style="color:red;">*</span></label>
                                <input type="password" class="form-control" formControlName="old_password" placeholder="Old Password" required autofocus>
                                <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
                                    <div class="error" *ngIf="f.old_password.errors.required">Old Password is required</div>
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <label>New Password <span style="color:red;">*</span></label>
                                <input type="password" class="form-control" formControlName="new_password" placeholder="New Password" required autofocus>
                                <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                                    <div class="error" *ngIf="f.new_password.errors.required">New Password is required</div>
                                </div>
                            </div>
                            <div class=" col-md-4">
                                <label>Confirm Password <span style="color:red;">*</span></label>
                                <input type="password" class="form-control" formControlName="confirm_password" placeholder="Confirm Password" required autofocus>
                                <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                    <div class="error" *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding:10px 0;">
                            <div class="col-md-12">
                                <button class="btn btn-primary" type="submit">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    </div>
</div>