<section class="header_text sub">
    <h4><span>Shopping Cart</span></h4>
</section>
<section class="main-content">				
    <div class="row">
        <div class="span9">					
            <h4 class="title"><span class="text"><strong>Your</strong> Cart</span></h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody *ngIf="cart_arr.length > 0">
                    <tr *ngFor="let cart of cart_arr; let indexOfelement=index">
                        <td><a href="product_detail.html"><img style="width:40px;" alt="" src="assets/themes/images/ladies/1.jpg"></a></td>
                        <td>{{cart.product_name}}</td>
                        <td>
                            <button (click)="update_cart(indexOfelement,'sub')" class="cart-btn">-</button>
                            <input disabled type="text" value="{{cart.quantity}}" min="1" max="{{cart.pcs}}" placeholder="1" class="input-mini text-center">
                            <button (click)="update_cart(indexOfelement,'add')" class="cart-btn">+</button>
                        </td>
                        <td>${{cart.price}}</td>
                        <td>${{cart.total}}</td>
                    </tr>			  
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><strong>${{cart_details.sub_total}}</strong></td>
                    </tr>		  
                </tbody>
                <ng-template not-found>vfvf</ng-template>
            </table>					
        </div>
        <div class="span3 col" style="margin-top:90px;">
            <div class="block">	
                <ul class="nav nav-list below">
                    <li class="nav-header">Price Details</li>
                    <li>Sub-Total <span style="float:right;">${{cart_details.sub_total}}</span></li>
                    <li>Tax <span style="float:right;">{{cart_details.tax}}%</span></li>
                    <hr>
                    <li>Total <span style="float:right;">${{cart_details.total}}</span></li>
                </ul>
            </div>					
        </div>
    </div>
</section>